* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
background-color: rgb(22, 22, 22);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 30px;
}

#box{
width: 400px;
height: 400px;
background-color: rgb(14, 102, 14);
border: 4px solid white;
border-radius: 20px;
}

button{
padding: 25px 60px;
border: none;
font-size: 20px;
color: white;
font-weight: 600;
background-color: rgb(23, 37, 166);
border-radius: 13px;
cursor: pointer;
}
button:active{
    scale: .95;
}
